---
import Layout from "../layouts/Main.astro"

const response = await fetch(
  "https://dev.to/api/articles/me", {
    headers: {
      "api-key": import.meta.env.SNOWPACK_PUBLIC_DEV_API_KEY
    }
  }
);
const articles = await response.json();
---

<Layout>
  <div class="space-y-8">{articles.map(article => {
    return (
      <a href={`/articles/${article.slug}`} class="flex flex-col space-y-2 p-4 bg-white shadow-sm hover:shadow-md rounded">
        {article.cover_image &&
          <img
            src={article.cover_image}
            alt={article.title}
            class="rounded"
          />
        }
        <h2>{article.title}</h2>
        <p>{article.description}</p>
      </a>
    )
  })}</div>
</Layout>
